.container{
    display: grid;
    grid-template-columns: 1fr 2fr 3fr;
    grid-template-rows: repeat(6, 1fr);
    grid-gap: 1rem;
}
.box{
    background-color: blue;
    border: 2px solid black;
    padding: 20px;
}
.box:first-child{
    /* grid-column-start:1 ;
    grid-column-end: 4;
     grid-row-start: 1;
    grid-row-end: 3; */
    grid-column: 1/ span 3;
    grid-row: 1/ span 3;
}