body{
    background-color: black;
}
#box{
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    /* transition-property: background-color;
    transition-duration: 3s;
    transition-delay: 0s;
    transition-timing-function: ease-in-out; */

    /* transition: shorthand property in one line  */
    /* transition: background-color 2s ease-in .3s; */


    transition: all 1s ease-in-out .3s;

}
#box:hover{
    background-color: green;
    height: 400px;
    width: 400px;
    border-radius: 40px;
    font-size: 40px;

}
#box2{
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 200px;
    margin: auto;
    transition: all 1s ease .3s;
}
#box2:hover{
    background-color: aqua;
    height: 250px;
    width: 300px;
    font-size: 30px;
    border-radius: 30px;
}