input {
    display: block;
}

.container {
    display: block;
    width: 233px;
    margin: auto;
}

input[type='text'] {
    border: 2px solid red;
    background-color: rgb(180, 248, 248);
}

input[type='password'] {
    border: 2px solid green;
    border-radius: 5px;
    padding: 15px;
}

input[type='submit'] {
    border: 2px solid grey;
    border-radius: 5px;
    font-size: 20px;
}

a[target='_parent'] {
    color: rgb(0, 0, 0);
    text-decoration: none;
}

/* li:nth-child(2){
    color: blue;
}
li:nth-child(2n+0){ 
    color: blue;
} */

/* li:nth-child(3n+0){
    color: brown;
} */

/* Odd child  */
/* li:nth-child(Odd){
    color: brown;
} */
/* Even Child  */

/* li:nth-child(Even){
    color: brown;
} */