.grid{
    display: grid;
    grid-template-rows: 1fr 10fr 5fr;
    grid-auto-rows: 3fr;
    grid-template-columns: repeat(10, 1fr);
    grid-gap: 1rem;
}
.box{
    background-color: red;
    border: 2px solid black;
}